<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reel Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <header>
        <h1>
            <a href="/">Reel Tech Blog</a>
        </h1>
        <nav>
            <a class="link" href="/">Home</a>
            <a class="link" href="/dashboard">Dashboard</a>
            <button id="logout-btn" class="btn-no-style">Logout</button>
        </nav>
    </header>

        
    {{{ body }}}
        
</body>

</html>